@import "../../theme/theme-variables.scss";

.users-container {
  width: 100%;

  // margin: 0 auto;
  // padding: 0 20px;
  font-family: Arial, sans-serif;
  color: $gray-600;
  background-color: $white;
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: $gray-300;

  .users-logo {
    font-weight: bold;
    font-size: 30px;
    color: $gray-600;
  }

  .users-nav {
    display: flex;
    gap: 20px;

    .users-nav-link {
      text-decoration: none;
      color: $gray-600;
      font-size: 20px;
    }
  }
}

// --- 2. Intro Section ---
.users-intro-section {
  display: flex;
  flex-wrap: wrap;
  background-color: $gray-300;
  padding: 40px;

  margin-bottom: 20px;

  .users-intro-content {
    flex: 1;
    padding-left: 20px;

    .users-intro-title {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $gray-600;
    }

    .users-intro-text {
      font-size: 20px;
      line-height: 1.5;
      color: $gray-600;
    }
  }

  .users-intro-placeholder {
    flex: 1;
    background-color: $gray-500;
    height: 250px;
    margin-top: 10px;
  }
}

// --- 3. Pagination Dots ---
.users-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;

  .users-dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $gray-400;
    cursor: pointer;

    &.active {
      background-color: $gray-800;
    }
  }
}

// --- 4. Services Section ---
.users-services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
  padding: 20px 40px;

  .users-service-block {
    background-color: $gray-300;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $gray-600;
  }
}

// --- 5. Twitter Feed Section ---
.users-twitter-feed {
  background-color: $gray-300;
  padding: 40px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 30px;
  color: $gray-600;
  margin-bottom: 50px;
}

// --- 6. Footer ---
.users-footer {
  display: flex;
  background-color: $gray-300;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $gray-200;
  padding: 20px 40px;

  .users-footer-nav {
    display: flex;
    gap: 20px;

    .users-footer-link {
      text-decoration: none;
      color: $gray-600;
      font-size: 20px;
    }
  }

  .users-footer-info {
    font-size: 20px;
    font-weight: bold;
  }
}
