@import "../../theme/theme-variables.scss";

.projects-container {
  width: 100%;
  font-family: Roboto, sans-serif;
  color: $gray-600;
  background-color: $white;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  background-color: $gray-300;

  .projects-logo {
    font-weight: bold;
    font-size: 30px;
    color: $gray-600;
  }

  .projects-nav {
    display: flex;
    gap: 20px;

    .projects-nav-link {
      text-decoration: none;
      color: $gray-600;
      font-size: 20px;
    }
  }
}

// --- 2. Intro Section ---
.projects-intro-section {
  display: flex;
  flex-wrap: wrap;
  background-color: $gray-300;
  padding: 40px 60px;

  margin-bottom: 20px;

  .projects-intro-content {
    flex: 1;
    padding-left: 20px;

    .projects-intro-title {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $gray-600;
    }

    .projects-intro-text {
      font-size: 20px;
      line-height: 1.5;
      color: $gray-600;
    }
  }

  .projects-intro-placeholder {
    flex: 1;
    background-color: $gray-500;
    height: 250px;
    margin-top: 10px;
  }
}

// --- 3. Pagination Dots ---
.projects-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;

  .projects-dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $gray-400;
    cursor: pointer;

    &.active {
      background-color: $gray-800;
    }
  }
}

// --- 4. Services Section ---
.projects-services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
  padding: 20px 60px;

  .projects-service-block {
    background-color: $gray-300;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $gray-600;
  }
}

.weather-widget {
  margin: 20px auto; // Додаємо відступи зверху/знизу
  padding: 15px;
  border: 1px solid $gray-300; // Невелика рамка
  border-radius: 8px;
  max-width: 800px; // Обмежуємо ширину для кращого вигляду
  text-align: center;
  background-color: $gray-300; // Світлий фон
}

.weather-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

// --- 5. Twitter Feed Section ---
.projects-twitter-feed {
  background-color: $gray-300;
  padding: 40px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 30px;
  color: $gray-600;
  margin: 50px 60px;
}

// --- 6. Footer ---
.projects-footer {
  display: flex;
  background-color: $gray-300;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $gray-200;
  padding: 20px 60px;

  .projects-footer-nav {
    display: flex;
    gap: 20px;

    .projects-footer-link {
      text-decoration: none;
      color: $gray-600;
      font-size: 20px;
    }
  }

  .projects-footer-info {
    font-size: 20px;
    font-weight: bold;
  }
}
